body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  border: 0;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 10px;
}

.citySelect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 197, 230);
  white-space: wrap;
}
.citySelect_areaTxt,
.searchCity__area {
  padding: 5px;
  margin: 40px;
  height: 3em;
  width: 16em;
  background-color: rgba(43, 52, 54, 0.5);
}

.searchCity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(31, 197, 230);
  white-space: wrap;
}
.searchCity__area {
  font-size: 1.2em;
}
.container {
  background-color: rgb(31, 197, 230);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 2px;
  padding-bottom: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 189, 239, 0.5);
  height: 150px;
  width: 150px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(104, 122, 128, 0.5);
}

.cardMax h2 {
  font-size: 3rem;
}
.cardMax h3 {
  font-size: 2rem;
}
.cardMax h4 {
  font-size: 1.5rem;
}
.cardMax h5 {
  font-size: 13px;
}

img {
  width: 50px;
}

.Clouds {
  content: url("./img/lightning-storm_icon-icons.com_54278.png");
}

@keyframes mist_slidein {
  0% {
    content: url("./img/mist_weather_icon_205758.png");
  }
  100% {
    content: url("./img/mist_weather_icon_205757.png");
  }
}

.Mist {
  animation-duration: 1s;
  animation-name: mist_slidein;
  animation-iteration-count: infinite;
}

.citta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temperatura {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.meteo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 
container
  card
    citta
      dataEl cittaEl
    temperatura
      tempEl imgEl
    meteo
      climaEl */

/* Data citta h4 */

/* temp h2 */

/* clima h3 */
