/*

	1. GENERAL
	2. FORM

*/

/* GENERAL */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* FORM */

.form {
  align-items: center;
  background-color: lightgray;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* CARDS */

.calcola {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 6rem;
}

h3 {
  border: 0;
  margin: 0;
  padding: 0;
  background: rgb(229, 223, 223);
  border-radius: 5px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

p {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
